# Merging CSV File Attempt

In [1]:
import json
import pandas as pd
import numpy as np
import os
import glob
import re


import datetime
from dateutil.relativedelta import relativedelta
from datetime import date


from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
# Path to your data
path = "DATA"

# Get all .csv files at your path
allFiles = glob.glob(path + "/*.csv")

# Read in the data from files and safe to dictionary
dataStorage = {}
for filename in allFiles:
    name = os.path.basename(filename).split(".")[0]
    dataStorage[name] = pd.read_csv(filename)

In [3]:
# merge
out = pd.concat(dataStorage.values(), ignore_index=True)

In [4]:
out.count()

timestamp              3075
trip_id                3075
depart_airport         3075
return_airport         3075
depart_date            3075
return_date            3075
total_cost             3075
depart_datetime        3075
depart_duration        3075
depart_stops           3075
return_datetime        3075
return_duration        3075
return_stops           3075
day_before_purchase    2940
dtype: int64

In [5]:
out.dtypes

timestamp               object
trip_id                 object
depart_airport          object
return_airport          object
depart_date             object
return_date             object
total_cost             float64
depart_datetime         object
depart_duration          int64
depart_stops             int64
return_datetime         object
return_duration          int64
return_stops             int64
day_before_purchase     object
dtype: object

In [6]:
 out["total_cost"]=out["total_cost"].astype(int)

In [7]:
path2 = "DATA/mergedtest.csv"

In [8]:
out.to_csv(path2,index=False)

In [9]:
#     #create the connection to the PostgreSQL database, then add the movies_df DataFrame to a SQL database.
#     db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/SWeetDeals"
#     engine = create_engine(db_string)
#     out.to_sql(name='FlightInfo', con=engine, if_exists='replace')

In [10]:
df = out
df.head()

,timestamp,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase
0,6/23/2022 3:41,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,6/23/2022,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,NaN
1,6/23/2022 3:42,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,6/30/2022,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,NaN
2,6/23/2022 3:43,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,6/23/2022,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,NaN
3,6/23/2022 3:43,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,6/30/2022,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,NaN
4,6/23/2022 3:44,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,6/23/2022,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,NaN

In [11]:
# Get Difference between purchase date and departure date
df['timestamp'] = pd.to_datetime(df['timestamp'])
df['depart_date'] = pd.to_datetime(df['depart_date'])
                        
# Create New Column 'day_before_purchase'                      
df['day_before_purchase'] = df['timestamp'] - df['depart_date']

In [12]:
df.head()

,timestamp,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase
0,2022-06-23 03:41:00,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,2022-06-23,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,0 days 03:41:00
1,2022-06-23 03:42:00,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,2022-06-30,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,-7 days +03:42:00
2,2022-06-23 03:43:00,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,2022-06-23,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,0 days 03:43:00
3,2022-06-23 03:43:00,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,2022-06-30,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,-7 days +03:43:00
4,2022-06-23 03:44:00,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,2022-06-23,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,0 days 03:44:00

In [13]:
df.dtypes

timestamp               datetime64[ns]
trip_id                         object
depart_airport                  object
return_airport                  object
depart_date             datetime64[ns]
return_date                     object
total_cost                       int32
depart_datetime                 object
depart_duration                  int64
depart_stops                     int64
return_datetime                 object
return_duration                  int64
return_stops                     int64
day_before_purchase    timedelta64[ns]
dtype: object

In [14]:
df['day_before_purchase']

0         0 days 03:41:00
1       -7 days +03:42:00
2         0 days 03:43:00
3       -7 days +03:43:00
4         0 days 03:44:00
              ...
3070   -12 days +00:00:00
3071    -5 days +00:00:00
3072   -12 days +00:00:00
3073    -5 days +00:00:00
3074   -12 days +00:00:00
Name: day_before_purchase, Length: 3075, dtype: timedelta64[ns]

In [15]:
path3 =  "DATA/dftest.csv"

In [16]:
df.to_csv(path3,index=False)

# Machine Learning Attempt

In [17]:
pip install -U imbalanced-learn

Requirement already satisfied: imbalanced-learn in c:\users\britt\anaconda3\envs\pythondata\lib\site-packages (0.9.0)
Collecting imbalanced-learn
  Using cached imbalanced_learn-0.9.1-py3-none-any.whl (199 kB)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\britt\anaconda3\envs\pythondata\lib\site-packages (from imbalanced-learn) (2.2.0)
Requirement already satisfied: scipy>=1.3.2 in c:\users\britt\anaconda3\envs\pythondata\lib\site-packages (from imbalanced-learn) (1.7.3)
Requirement already satisfied: joblib>=0.11 in c:\users\britt\anaconda3\envs\pythondata\lib\site-packages (from imbalanced-learn) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.1 in c:\users\britt\anaconda3\envs\pythondata\lib\site-packages (from imbalanced-learn) (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in c:\users\britt\anaconda3\envs\pythondata\lib\site-packages (from imbalanced-learn) (1.20.3)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import warnings
warnings.filterwarnings('ignore')

In [19]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import datetime as dt

In [20]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

In [22]:
# file_path = Path("DATA/dftest.csv")

In [23]:
# df2 = pd.read_csv(file_path,index_col = 0)
# df2.head()

In [24]:
df2 = df
df2

,timestamp,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase
0,2022-06-23 03:41:00,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,2022-06-23,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,0 days 03:41:00
1,2022-06-23 03:42:00,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,2022-06-30,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,-7 days +03:42:00
2,2022-06-23 03:43:00,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,2022-06-23,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,0 days 03:43:00
3,2022-06-23 03:43:00,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,2022-06-30,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,-7 days +03:43:00
4,2022-06-23 03:44:00,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,2022-06-23,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,0 days 03:44:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3070,2022-06-25 00:00:00,LAX-ORD-07/07/2022-07/11/2022,LAX,ORD,2022-07-07,7/11/2022,571,12:00:00 AM,242,0,12:00:00 AM,262,0,-12 days +00:00:00
3071,2022-06-25 00:00:00,SFO-IAD-06/30/2022-07/04/2022,SFO,IAD,2022-06-30,7/4/2022,971,12:00:00 AM,310,0,12:00:00 AM,553,1,-5 days +00:00:00
3072,2022-06-25 00:00:00,SFO-IAD-07/07/2022-07/11/2022,SFO,IAD,2022-07-07,7/11/2022,908,12:00:00 AM,471,1,12:00:00 AM,486,1,-12 days +00:00:00
3073,2022-06-25 00:00:00,SJC-MSY-06/30/2022-07/04/2022,SJC,MSY,2022-06-30,7/4/2022,1470,12:00:00 AM,484,2,12:00:00 AM,420,1,-5 days +00:00:00
3074,2022-06-25 00:00:00,SJC-MSY-07/07/2022-07/11/2022,SJC,MSY,2022-07-07,7/11/2022,910,12:00:00 AM,414,1,12:00:00 AM,625,2,-12 days +00:00:00

In [25]:
df2.dtypes

timestamp               datetime64[ns]
trip_id                         object
depart_airport                  object
return_airport                  object
depart_date             datetime64[ns]
return_date                     object
total_cost                       int32
depart_datetime                 object
depart_duration                  int64
depart_stops                     int64
return_datetime                 object
return_duration                  int64
return_stops                     int64
day_before_purchase    timedelta64[ns]
dtype: object

In [26]:
df3 = df2.filter(['total_cost','day_before_purchase'], axis=1)
df3

      total_cost day_before_purchase
0            720     0 days 03:41:00
1            630   -7 days +03:42:00
2            353     0 days 03:43:00
3            299   -7 days +03:43:00
4           2939     0 days 03:44:00
...          ...                 ...
3070         571  -12 days +00:00:00
3071         971   -5 days +00:00:00
3072         908  -12 days +00:00:00
3073        1470   -5 days +00:00:00
3074         910  -12 days +00:00:00

[3075 rows x 2 columns]

In [27]:
df3.shape

(3075, 2)

In [28]:
df3.dtypes

total_cost                       int32
day_before_purchase    timedelta64[ns]
dtype: object

In [29]:
tmin = pd.to_timedelta(df3['day_before_purchase'])/pd.Timedelta('60s')

In [30]:
tmin

0         221.0
1       -9858.0
2         223.0
3       -9857.0
4         224.0
         ...
3070   -17280.0
3071    -7200.0
3072   -17280.0
3073    -7200.0
3074   -17280.0
Name: day_before_purchase, Length: 3075, dtype: float64

In [31]:
df3

      total_cost day_before_purchase
0            720     0 days 03:41:00
1            630   -7 days +03:42:00
2            353     0 days 03:43:00
3            299   -7 days +03:43:00
4           2939     0 days 03:44:00
...          ...                 ...
3070         571  -12 days +00:00:00
3071         971   -5 days +00:00:00
3072         908  -12 days +00:00:00
3073        1470   -5 days +00:00:00
3074         910  -12 days +00:00:00

[3075 rows x 2 columns]

In [32]:
df3.columns

Index(['total_cost', 'day_before_purchase'], dtype='object')

In [33]:
df4 = df3

In [34]:
df4['total_min'] = tmin

In [35]:
df4

      total_cost day_before_purchase  total_min
0            720     0 days 03:41:00      221.0
1            630   -7 days +03:42:00    -9858.0
2            353     0 days 03:43:00      223.0
3            299   -7 days +03:43:00    -9857.0
4           2939     0 days 03:44:00      224.0
...          ...                 ...        ...
3070         571  -12 days +00:00:00   -17280.0
3071         971   -5 days +00:00:00    -7200.0
3072         908  -12 days +00:00:00   -17280.0
3073        1470   -5 days +00:00:00    -7200.0
3074         910  -12 days +00:00:00   -17280.0

[3075 rows x 3 columns]

In [40]:
df5 = df4.filter(['total_cost','total_min'], axis=1)

In [41]:
df5.dtypes

total_cost      int32
total_min     float64
dtype: object

In [42]:
df5.shape

(3075, 2)

In [43]:
# Standardize the data with StandardScaler().
scaled = StandardScaler().fit_transform(df5)
print(scaled)

[[ 0.02409835  1.29298276]
 [-0.12976884  0.42594594]
 [-0.60333787  1.29315481]
 ...
 [ 0.34550982 -0.21252487]
 [ 1.30632496  0.65459798]
 [ 0.3489291  -0.21252487]]