In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

In [5]:
file_path = Path("DATA/tmintest.csv")
df = pd.read_csv(file_path,index_col = 0)
df.head()

,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase,total_min
timestamp,,,,,,,,,,,,,,
2022-06-23 03:41:00,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,2022-06-23,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,0,0
2022-06-23 03:42:00,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,2022-06-30,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,6,6
2022-06-23 03:43:00,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,2022-06-23,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,0,0
2022-06-23 03:43:00,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,2022-06-30,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,6,6
2022-06-23 03:44:00,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,2022-06-23,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,0,0

In [6]:
columns = ["trip_id","depart_airport","return_airport","depart_date",
           "return_date","total_cost","depart_datetime","depart_duration",
           "depart_stops","return_datetime","return_duration","return_stops",
           "day_before_purchase","total_min",
    
]

target = ["total_cost"]

In [7]:
file_path = Path("DATA/tmintest.csv")
df2 = pd.read_csv(file_path, skiprows=1)[:-2]
df2 = df.loc[:, columns].copy()
df2.head()

,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase,total_min
timestamp,,,,,,,,,,,,,,
2022-06-23 03:41:00,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,2022-06-23,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,0,0
2022-06-23 03:42:00,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,2022-06-30,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,6,6
2022-06-23 03:43:00,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,2022-06-23,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,0,0
2022-06-23 03:43:00,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,2022-06-30,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,6,6
2022-06-23 03:44:00,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,2022-06-23,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,0,0

In [8]:
# Create our features
X = df2.drop(columns='total_cost')
X = pd.get_dummies(X)
# Create our target
y = df2.loc[:, target].copy()

In [9]:
X.describe()

,depart_duration,depart_stops,return_duration,return_stops,day_before_purchase,total_min,trip_id_LAX-ORD-06/23/2022-06/27/2022,trip_id_LAX-ORD-06/30/2022-07/04/2022,trip_id_LAX-ORD-07/07/2022-07/11/2022,trip_id_LAX-ORD-07/14/2022-07/18/2022,...,return_datetime_07-25-2022 10:18:00,return_datetime_07-25-2022 13:46:00,return_datetime_6/26/2022 10:13,return_datetime_6/26/2022 6:00,return_datetime_6/26/2022 8:25,return_datetime_6/30/2022 10:17,return_datetime_6/30/2022 16:44,return_datetime_7/11/2022,return_datetime_7/3/2022 14:59,return_datetime_7/4/2022
count,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,...,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000,90.000000
mean,261.888889,0.422222,272.711111,0.422222,9.622222,9.622222,0.022222,0.088889,0.066667,0.022222,...,0.022222,0.022222,0.022222,0.022222,0.022222,0.022222,0.022222,0.088889,0.022222,0.066667
std,165.331974,0.617676,171.569833,0.580155,7.795962,7.795962,0.148231,0.286178,0.250841,0.148231,...,0.148231,0.148231,0.148231,0.148231,0.148231,0.148231,0.148231,0.286178,0.148231,0.250841
min,78.000000,0.000000,78.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,90.000000,0.000000,88.000000,0.000000,5.000000,5.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,255.000000,0.000000,253.000000,0.000000,6.000000,6.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,330.000000,1.000000,420.000000,1.000000,13.000000,13.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,636.000000,2.000000,625.000000,2.000000,27.000000,27.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
# Check the balance of our target values
y['total_cost'].value_counts()

280     4
353     4
707     4
2939    4
582     4
1069    4
300     4
301     4
1262    2
1394    2
528     2
958     2
720     2
784     2
622     2
571     2
971     2
908     2
1470    2
628     2
579     2
588     2
494     2
630     2
714     2
198     2
228     2
183     2
223     2
273     2
771     2
690     2
634     2
239     2
269     2
299     2
910     2
Name: total_cost, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(67, 127)

# Ensemble Learners

# Balanced Random Forest Classifier

In [12]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
X_train_scaled.shape, y_train.shape

((67, 127), (67, 1))

In [14]:
# Resample the training data with the BalancedRandomForestClassifier

clf = BalancedRandomForestClassifier(n_estimators=128, random_state=78) 
# Fitting the model
clf = clf.fit(X_train_scaled, y_train)

In [15]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
y_pred = clf.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.4

In [16]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        2],
       [0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
        0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0]], dtype=int64)

In [17]:
# Print the imbalanced classification report
# YOUR CODE HERE

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        228       0.00      0.00      1.00      0.00      0.00      0.00         1
        239       0.33      1.00      0.91      0.50      0.95      0.92         1
        269       1.00      1.00      1.00      1.00      1.00      1.00         1
        300       0.00      0.00      1.00      0.00      0.00      0.00         2
        301       0.00      0.00      1.00      0.00      0.00      0.00         2
        353       0.00      0.00      1.00      0.00      0.00      0.00         1
        494       0.33      1.00      0.91      0.50      0.95      0.92         1
        528       0.00      0.00      1.00      0.00      0.00      0.00         1
        571       0.00      0.00      1.00      0.00      0.00      0.00         1
        579       0.00      0.00      0.96      0.00      0.00      0.00         0
        588       0.00      0.00      1.00      0.00      0.00      0.00         1
        622       0.20      1.00      0.82      0.33      0.90      0.83         1
        628       0.00      0.00      1.00      0.00      0.00      0.00         2
        630       0.00      0.00      1.00      0.00      0.00      0.00         1
        634       1.00      1.00      1.00      1.00      1.00      1.00         1
        707       0.00      0.00      1.00      0.00      0.00      0.00         1
        771       0.50      1.00      0.95      0.67      0.98      0.96         1
        908       1.00      1.00      1.00      1.00      1.00      1.00         1
        910       1.00      1.00      1.00      1.00      1.00      1.00         1
       1262       0.00      0.00      0.91      0.00      0.00      0.00         0
       1394       0.00      0.00      1.00      0.00      0.00      0.00         1
       1470       0.00      0.00      1.00      0.00      0.00      0.00         1
       2939       0.00      0.00      0.87      0.00      0.00      0.00         0

avg / total       0.23      0.35      0.98      0.26      0.34      0.33        23

In [18]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
feature_names = X.columns
sorted(zip(clf.feature_importances_, feature_names), reverse=True)

[(0.05734949323121617, 'depart_duration'),
 (0.04726139572296342, 'return_duration'),
 (0.039773119787010314, 'day_before_purchase'),
 (0.03477433101560844, 'total_min'),
 (0.021780064278326527, 'return_stops'),
 (0.019736861147725954, 'return_airport_ORD'),
 (0.01815664308031911, 'depart_airport_LAX'),
 (0.01643845468900832, 'return_date_07/11/2022'),
 (0.01566595744009275, 'depart_stops'),
 (0.015548354944677744, 'depart_date_2022-06-30'),
 (0.01552898517009943, 'return_date_07/04/2022'),
 (0.015216295834654786, 'depart_airport_SNA'),
 (0.013911901245406743, 'return_airport_PHX'),
 (0.013728582215003143, 'trip_id_LAX-ORD-07/07/2022-07/11/2022'),
 (0.012655492020769548, 'return_datetime_7/11/2022'),
 (0.01196739989841958, 'depart_datetime_6/30/2022'),
 (0.01193111626709859, 'return_date_7/11/2022'),
 (0.011913799185678087, 'depart_datetime_7/7/2022'),
 (0.011089450555554771, 'return_datetime_07-04-2022 15:20:00'),
 (0.01099041421359411, 'return_datetime_7/4/2022'),
 (0.010717331577489235, 'depart_date_2022-07-07'),
 (0.010261034913427189, 'return_airport_IAD'),
 (0.010020536344397436, 'depart_datetime_06-30-2022 12:56:00'),
 (0.009650020299495361, 'trip_id_SFO-IAD-06/30/2022-07/04/2022'),
 (0.009547712492721069, 'return_date_7/4/2022'),
 (0.009361260999348517, 'depart_datetime_07-07-2022 17:50:00'),
 (0.00928116768036834, 'return_airport_MSY'),
 (0.009236901906218419, 'depart_datetime_06-30-2022 09:13:00'),
 (0.008832917510923766, 'return_datetime_07-04-2022 10:18:00'),
 (0.00880290455536102, 'return_datetime_07-11-2022 13:46:00'),
 (0.008800278569447787, 'depart_datetime_06-30-2022 12:37:00'),
 (0.008617861398107692, 'depart_airport_SFO'),
 (0.008566415275456549, 'trip_id_SNA-PHX-07/07/2022-07/11/2022'),
 (0.008538561955864598, 'trip_id_LAX-ORD-06/30/2022-07/04/2022'),
 (0.008533012573273881, 'depart_date_2022-06-23'),
 (0.00853224178547323, 'depart_datetime_06-30-2022 08:05:00'),
 (0.008221770975918268, 'return_date_07/18/2022'),
 (0.008152663974078761, 'trip_id_SJC-MSY-06/30/2022-07/04/2022'),
 (0.007846637951433803, 'depart_datetime_07-07-2022 13:11:00'),
 (0.00779218169143798, 'return_datetime_07-04-2022 06:00:00'),
 (0.007701867945231342, 'depart_airport_SJC'),
 (0.007658273375537003, 'return_datetime_07-11-2022 10:18:00'),
 (0.007630461767435133, 'return_datetime_07-11-2022 07:19:00'),
 (0.0076250855181129, 'return_date_07/25/2022'),
 (0.0074833453402991055, 'trip_id_LAX-PHX-06/30/2022-07/04/2022'),
 (0.007420260307403794, 'trip_id_LAX-ORD-07/21/2022-07/25/2022'),
 (0.007350298525127007, 'depart_datetime_06-30-2022 10:10:00'),
 (0.0071907173793305836, 'trip_id_SNA-PHX-07/14/2022-07/18/2022'),
 (0.00700631991067214, 'return_airport_SMF'),
 (0.006934678330661093, 'return_datetime_07-25-2022 13:46:00'),
 (0.006845596786536148, 'trip_id_SNA-PHX-06/30/2022-07/03/2022'),
 (0.006832681585145805, 'trip_id_SNA-PHX-06/30/2022-07/04/2022'),
 (0.006801118815242147, 'return_datetime_07-11-2022 07:25:00'),
 (0.006721225172439469, 'depart_datetime_07-14-2022 16:35:00'),
 (0.006373440008513503, 'return_datetime_07-11-2022 16:10:00'),
 (0.006340181374456905, 'depart_date_2022-07-14'),
 (0.006285083113378175, 'return_datetime_07-04-2022 07:00:00'),
 (0.006225101661559996, 'return_date_06/27/2022'),
 (0.006205438292940872, 'return_datetime_07-18-2022 06:45:00'),
 (0.0061135157011639445, 'return_datetime_07-18-2022 14:00:00'),
 (0.006011838762355309, 'depart_datetime_07-07-2022 08:00:00'),
 (0.005908579987096708, 'depart_datetime_06-30-2022 07:05:00'),
 (0.005900253593274324, 'depart_datetime_07-07-2022 07:00:00'),
 (0.005845549661911483, 'trip_id_LAX-PHX-06/23/2022-06/27/2022'),
 (0.005746345449354888, 'depart_datetime_07-21-2022 17:50:00'),
 (0.005695300299556899, 'trip_id_SNA-ORD-07/07/2022-07/11/2022'),
 (0.005685789023578542, 'trip_id_LAX-PHX-07/14/2022-07/18/2022'),
 (0.005683032855019459, 'return_datetime_6/26/2022 6:00'),
 (0.005593944049508917, 'return_datetime_07-18-2022 11:00:00'),
 (0.005503414240793248, 'depart_datetime_07-07-2022 06:10:00'),
 (0.005490594845605603, 'return_datetime_07-25-2022 05:00:00'),
 (0.005456996793638996, 'depart_datetime_07-07-2022 10:17:00'),
 (0.005437350111760384, 'depart_datetime_07-14-2022 16:14:00'),
 (0.005432259641321904, 'return_datetime_7/3/2022 14:59'),
 (0.005390517971901573, 'return_datetime_07-25-2022 07:19:00'),
 (0.005366890236750529, 'trip_id_SNA-PHX-06/23/2022-06/27/2022'),
 (0.005320491782614634, 'depart_datetime_07-14-2022 12:36:00'),
 (0.0052904558597481185, 'trip_id_SNA-ORD-07/14/2022-07/18/2022'),
 (0.005030973297402137, 'trip_id_SFO-IAD-07/07/2022-07/11/2022'),
 (0.005021903787147153, 'depart_datetime_6/30/2022 10:17'),
 (0.005012203792728042, 'trip_id_SNA-SMF-06/23/2022-06/26/2022'),
 (0.00495374347503549, 'depart_datetime_07-21-2022 16:14:00'),
 (0.004847138208719377, 'depart_datetime_06-30-2022 12:21:00'),
 (0.004831777175508707, 'depart_date_2022-07-21'),
 (0.00480790117142246, 'return_datetime_06-27-2022 16:40:00'),
 (0.00475598023713004, 'return_datetime_06-27-2022 13:19:00'),
 (0.004630683311770094, 'trip_id_SJC-MSY-07/07/2022-07/11/2022'),
 (0.004608323410765821, 'return_datetime_6/30/2022 10:17'),
 (0.0045725165083638, 'return_datetime_07-04-2022 11:52:00'),
 (0.004550878640511546, 'depart_datetime_06-23-2022 10:55:00'),
 (0.0045349732871282, 'return_date_6/26/2022'),
 (0.0045213541643307304, 'return_datetime_07-04-2022 11:00:00'),
 (0.004473779852079207, 'depart_datetime_07-21-2022 16:44:00'),
 (0.0043971870786417904, 'return_date_7/3/2022'),
 (0.004266765759454113, 'return_datetime_07-11-2022 14:00:00'),
 (0.004177125166149258, 'return_datetime_07-18-2022 05:00:00'),
 (0.004152566552306439, 'depart_datetime_07-07-2022 12:21:00'),
 (0.00414980367632914, 'return_datetime_07-11-2022 05:00:00'),
 (0.004136711542069325, 'depart_datetime_06-30-2022 16:44:00'),
 (0.004076714659597133, 'trip_id_LAX-PHX-07/21/2022-07/25/2022'),
 (0.004054514659459456, 'trip_id_LAX-ORD-06/23/2022-06/27/2022'),
 (0.0040404521988012245, 'depart_datetime_6/23/2022 10:17'),
 (0.003631632574153845, 'depart_datetime_06-23-2022 12:56:00'),
 (0.0035036378406323736, 'trip_id_SNA-ORD-06/30/2022-07/03/2022'),
 (0.003485473721818199, 'trip_id_SNA-ORD-06/23/2022-06/26/2022'),
 (0.0034768506286167655, 'return_datetime_6/30/2022 16:44'),
 (0.003469746338334039, 'trip_id_SNA-ORD-06/23/2022-06/27/2022'),
 (0.0033706544476355565, 'trip_id_SNA-SMF-06/30/2022-07/03/2022'),
 (0.003307838704535912, 'trip_id_LAX-PHX-07/07/2022-07/11/2022'),
 (0.003139847885857005, 'trip_id_SNA-ORD-07/21/2022-07/25/2022'),
 (0.0031383002478758758, 'depart_datetime_06-23-2022 16:14:00'),
 (0.003019127367590279, 'trip_id_LAX-ORD-07/14/2022-07/18/2022'),
 (0.003013735179570591, 'trip_id_SNA-ORD-06/30/2022-07/04/2022'),
 (0.0026924148299660076, 'depart_datetime_6/30/2022 16:44'),
 (0.0024716254351079135, 'depart_datetime_07-14-2022 13:11:00'),
 (0.002343098922903086, 'depart_datetime_6/30/2022 12:56'),
 (0.0021305138701378846, 'return_datetime_6/26/2022 10:13'),
 (0.002006394100663935, 'return_datetime_06-27-2022 10:13:00'),
 (0.0019752602136818113, 'return_datetime_07-04-2022 14:00:00'),
 (0.0019381593833315348, 'depart_datetime_6/23/2022 16:44'),
 (0.0016907363794544227, 'depart_datetime_06-23-2022 16:44:00'),
 (0.0014652449410935801, 'return_datetime_06-27-2022 09:55:00'),
 (0.0009075189199460497, 'trip_id_SNA-PHX-06/23/2022-06/26/2022'),
 (0.0007060037598913149, 'depart_datetime_6/23/2022 12:56'),
 (0.00027439024390243916, 'return_datetime_6/26/2022 8:25'),
 (0.0, 'trip_id_SNA-PHX-07/21/2022-07/25/2022'),
 (0.0, 'return_datetime_07-25-2022 10:18:00')]

In [19]:
X.columns

Index(['depart_duration', 'depart_stops', 'return_duration', 'return_stops',
       'day_before_purchase', 'total_min',
       'trip_id_LAX-ORD-06/23/2022-06/27/2022',
       'trip_id_LAX-ORD-06/30/2022-07/04/2022',
       'trip_id_LAX-ORD-07/07/2022-07/11/2022',
       'trip_id_LAX-ORD-07/14/2022-07/18/2022',
       ...
       'return_datetime_07-25-2022 10:18:00',
       'return_datetime_07-25-2022 13:46:00',
       'return_datetime_6/26/2022 10:13', 'return_datetime_6/26/2022 6:00',
       'return_datetime_6/26/2022 8:25', 'return_datetime_6/30/2022 10:17',
       'return_datetime_6/30/2022 16:44', 'return_datetime_7/11/2022',
       'return_datetime_7/3/2022 14:59', 'return_datetime_7/4/2022'],
      dtype='object', length=127)

In [20]:
# Need to create Bins or EEC will take way too damn long

# Easy Ensemble AdaBoost Classifier

In [21]:
# Train the EasyEnsembleClassifier
# YOUR CODE HERE
eec = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
eec = eec.fit(X_train, y_train)

In [22]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
y_pred = eec.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.825

In [23]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]],
      dtype=int64)

In [24]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        228       1.00      1.00      1.00      1.00      1.00      1.00         1
        239       1.00      1.00      1.00      1.00      1.00      1.00         1
        269       1.00      1.00      1.00      1.00      1.00      1.00         1
        300       0.00      0.00      1.00      0.00      0.00      0.00         2
        301       1.00      0.50      1.00      0.67      0.71      0.48         2
        353       0.00      0.00      1.00      0.00      0.00      0.00         1
        494       1.00      1.00      1.00      1.00      1.00      1.00         1
        528       1.00      1.00      1.00      1.00      1.00      1.00         1
        571       0.20      1.00      0.82      0.33      0.90      0.83         1
        588       1.00      1.00      1.00      1.00      1.00      1.00         1
        622       1.00      1.00      1.00      1.00      1.00      1.00         1
        628       0.00      0.00      1.00      0.00      0.00      0.00         2
        630       1.00      1.00      1.00      1.00      1.00      1.00         1
        634       1.00      1.00      1.00      1.00      1.00      1.00         1
        707       1.00      1.00      1.00      1.00      1.00      1.00         1
        771       1.00      1.00      1.00      1.00      1.00      1.00         1
        908       1.00      1.00      1.00      1.00      1.00      1.00         1
        910       1.00      1.00      1.00      1.00      1.00      1.00         1
       1394       1.00      1.00      1.00      1.00      1.00      1.00         1
       1470       0.33      1.00      0.91      0.50      0.95      0.92         1

avg / total       0.72      0.74      0.99      0.70      0.75      0.73        23