In [9]:
# Import Libraries
from pyspark.sql.types import StructType, StructField, FloatType, BooleanType
from pyspark.sql.types import DoubleType, IntegerType, StringType
import pyspark
from pyspark import SQLContext
import boto3
from boto3 import session
import pandas as pd



import json
import numpy as np
import os
import glob
import re

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import time

In [2]:
# from config import bucket_name
# from config import path_to_file
# pip install pyspark
# pip install s3fs

In [6]:
import s3fs

# csv file
df = pd.read_csv('https://sweetdealdataclass.s3.us-west-1.amazonaws.com/2022-06-26-08-22-53_SNAPHX_LAXORD_SFOIAD_SJCMSY_LAXMUC.csv')

In [8]:
df.head()

,timestamp,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops
0,2022-06-26 08:23:49,SNA-PHX-06/30/2022-07/04/2022,SNA,PHX,06/30/2022,07/04/2022,280.0,06-30-2022 12:56:00,78,0,07-04-2022 10:18:00,88,0
1,2022-06-26 08:24:43,SNA-PHX-07/07/2022-07/11/2022,SNA,PHX,07/07/2022,07/11/2022,301.0,07-07-2022 10:17:00,78,0,07-11-2022 14:00:00,79,0
2,2022-06-26 08:25:34,SNA-PHX-07/14/2022-07/18/2022,SNA,PHX,07/14/2022,07/18/2022,250.0,07-14-2022 10:17:00,78,0,07-18-2022 17:42:00,78,0
3,2022-06-26 08:26:27,SNA-PHX-07/21/2022-07/25/2022,SNA,PHX,07/21/2022,07/25/2022,298.0,07-21-2022 13:11:00,79,0,07-25-2022 10:18:00,88,0
4,2022-06-26 08:27:21,SNA-PHX-07/28/2022-08/01/2022,SNA,PHX,07/28/2022,08/01/2022,298.0,07-28-2022 13:11:00,79,0,08-01-2022 10:18:00,88,0

In [10]:
df.count()

timestamp          133
trip_id            133
depart_airport     133
return_airport     133
depart_date        133
return_date        133
total_cost         133
depart_datetime    133
depart_duration    133
depart_stops       133
return_datetime    133
return_duration    133
return_stops       133
dtype: int64

In [12]:
df.dtypes

timestamp           object
trip_id             object
depart_airport      object
return_airport      object
depart_date         object
return_date         object
total_cost         float64
depart_datetime     object
depart_duration      int64
depart_stops         int64
return_datetime     object
return_duration      int64
return_stops         int64
dtype: object

In [13]:
df["total_cost"]=df["total_cost"].astype(int)

In [14]:
df.dtypes

timestamp          object
trip_id            object
depart_airport     object
return_airport     object
depart_date        object
return_date        object
total_cost          int32
depart_datetime    object
depart_duration     int64
depart_stops        int64
return_datetime    object
return_duration     int64
return_stops        int64
dtype: object

In [16]:
#create the connection to the PostgreSQL database, then add the movies_df DataFrame to a SQL database.
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/SWeetDeals"
engine = create_engine(db_string)
df.to_sql(name='FlightInfo', con=engine, if_exists='replace')