In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

In [4]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from imblearn.ensemble import BalancedRandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

In [5]:
file_path = Path("tmintest.csv")
df = pd.read_csv(file_path,index_col = 0)
df.head()

,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase,total_min
timestamp,,,,,,,,,,,,,,
2022-06-23 03:41:00,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,2022-06-23,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,0,0
2022-06-23 03:42:00,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,2022-06-30,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,6,6
2022-06-23 03:43:00,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,2022-06-23,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,0,0
2022-06-23 03:43:00,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,2022-06-30,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,6,6
2022-06-23 03:44:00,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,2022-06-23,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,0,0

In [6]:
columns = ["trip_id","depart_airport","return_airport","depart_date",
           "return_date","total_cost","depart_datetime","depart_duration",
           "depart_stops","return_datetime","return_duration","return_stops",
           "day_before_purchase","total_min",
    
]

target = ["day_before_purchase"]

In [7]:
file_path = Path("tmintest.csv")
df2 = pd.read_csv(file_path, skiprows=1)[:-2]
df2 = df.loc[:, columns].copy()
df2.head()

,trip_id,depart_airport,return_airport,depart_date,return_date,total_cost,depart_datetime,depart_duration,depart_stops,return_datetime,return_duration,return_stops,day_before_purchase,total_min
timestamp,,,,,,,,,,,,,,
2022-06-23 03:41:00,SNA-SMF-06/23/2022-06/26/2022,SNA,SMF,2022-06-23,6/26/2022,720,6/23/2022 10:17,309,1,6/26/2022 6:00,341,1,0,0
2022-06-23 03:42:00,SNA-SMF-06/30/2022-07/03/2022,SNA,SMF,2022-06-30,7/3/2022,630,6/30/2022 10:17,309,1,6/30/2022 10:17,309,1,6,6
2022-06-23 03:43:00,SNA-PHX-06/23/2022-06/26/2022,SNA,PHX,2022-06-23,6/26/2022,353,6/23/2022 12:56,78,0,6/26/2022 10:13,88,0,0,0
2022-06-23 03:43:00,SNA-PHX-06/30/2022-07/03/2022,SNA,PHX,2022-06-30,7/3/2022,299,6/30/2022 12:56,78,0,7/3/2022 14:59,78,0,6,6
2022-06-23 03:44:00,SNA-ORD-06/23/2022-06/26/2022,SNA,ORD,2022-06-23,6/26/2022,2939,6/23/2022 16:44,636,1,6/26/2022 8:25,251,0,0,0

In [8]:
# # Create our features
# X = df2.drop(columns='total_cost')
# X = pd.get_dummies(X)
# # Create our target
# y = df2.loc[:, target].copy()

In [16]:
# Create our features
# X = df2.drop(columns='total_cost')
X = df2[["total_cost", "return_duration", "return_stops", "depart_duration"]] #, "depart_airport", "return_airport"
# X.head()
X = pd.get_dummies(X)
X.head()
# Create our target
y = df2.loc[:, target].copy()

In [17]:
X.describe()

       day_before_purchase  return_duration  return_stops  depart_duration
count            45.000000        45.000000     45.000000        45.000000
mean              9.622222       272.711111      0.422222       261.888889
std               7.840132       172.541908      0.583442       166.268707
min               0.000000        78.000000      0.000000        78.000000
25%               5.000000        88.000000      0.000000        90.000000
50%               6.000000       253.000000      0.000000       255.000000
75%              13.000000       420.000000      1.000000       330.000000
max              27.000000       625.000000      2.000000       636.000000

In [18]:
# Check the balance of our target values
y['day_before_purchase'].value_counts()

280     2
353     2
707     2
2939    2
582     2
1069    2
300     2
301     2
1262    1
1394    1
528     1
958     1
720     1
784     1
622     1
571     1
971     1
908     1
1470    1
628     1
579     1
588     1
494     1
630     1
714     1
198     1
228     1
183     1
223     1
273     1
771     1
690     1
634     1
239     1
269     1
299     1
910     1
Name: total_cost, dtype: int64

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_train.shape

(33, 4)

# Ensemble Learners

# Balanced Random Forest Classifier

In [20]:
# # Creating a StandardScaler instance.
# scaler = StandardScaler()
# # Fitting the Standard Scaler with the training data.
# X_scaler = scaler.fit(X_train)

# # Scaling the data.
# X_train_scaled = X_scaler.transform(X_train)
# X_test_scaled = X_scaler.transform(X_test)

In [21]:
# X_train_scaled.shape, y_train.shape

((33, 4), (33, 1))

In [22]:
# # Resample the training data with the BalancedRandomForestClassifier

# clf = BalancedRandomForestClassifier(n_estimators=128, random_state=78) 
# # Fitting the model
# clf = clf.fit(X_train_scaled, y_train)

In [23]:
# # Calculated the balanced accuracy score
# # YOUR CODE HERE
# y_pred = clf.predict(X_test)
# balanced_accuracy_score(y_test, y_pred)

0.0

In [24]:
# # Display the confusion matrix
# # YOUR CODE HERE
# confusion_matrix(y_test, y_pred)

array([[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]], dtype=int64)

In [25]:
# # Print the imbalanced classification report
# # YOUR CODE HERE

# print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        228       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        280       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        299       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        353       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        528       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        579       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        707       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        714       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        784       0.00      0.00      0.00      0.00      0.00      0.00       0.0
        910       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        958       0.00      0.00      1.00      0.00      0.00      0.00       1.0
        971       0.00      0.00      1.00      0.00      0.00      0.00       1.0
       1069       0.00      0.00      1.00      0.00      0.00      0.00       1.0

avg / total       0.00      0.00      1.00      0.00      0.00      0.00      12.0

In [26]:
# # List the features sorted in descending order by feature importance
# # YOUR CODE HERE
# feature_names = X.columns
# sorted(zip(clf.feature_importances_, feature_names), reverse=True)

[(0.32906143681018757, 'depart_duration'),
 (0.30836439171831215, 'return_duration'),
 (0.2925763492412372, 'day_before_purchase'),
 (0.06999782223026296, 'return_stops')]

In [27]:
# X.columns

Index(['day_before_purchase', 'return_duration', 'return_stops',
       'depart_duration'],
      dtype='object')

In [28]:
# Need to create Bins or EEC will take way too damn long

# Easy Ensemble AdaBoost Classifier

In [29]:
# # Train the EasyEnsembleClassifier
# # YOUR CODE HERE
# eec = EasyEnsembleClassifier(n_estimators = 100,random_state=1)
# eec = eec.fit(X_train, y_train)

In [30]:
# # Calculated the balanced accuracy score
# # YOUR CODE HERE
# y_pred = eec.predict(X_test)
# balanced_accuracy_score(y_test, y_pred)

0.16666666666666666

In [31]:
# # Display the confusion matrix
# # YOUR CODE HERE
# confusion_matrix(y_test, y_pred)

array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1]],
      dtype=int64)

In [32]:
# # Print the imbalanced classification report
# # YOUR CODE HERE
# print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

        183       0.00      0.00      0.92      0.00      0.00      0.00         0
        228       0.00      0.00      1.00      0.00      0.00      0.00         1
        280       0.00      0.00      1.00      0.00      0.00      0.00         1
        299       0.00      0.00      1.00      0.00      0.00      0.00         1
        301       0.00      0.00      0.83      0.00      0.00      0.00         0
        353       1.00      1.00      1.00      1.00      1.00      1.00         1
        494       0.00      0.00      0.92      0.00      0.00      0.00         0
        528       0.00      0.00      1.00      0.00      0.00      0.00         1
        571       0.00      0.00      0.83      0.00      0.00      0.00         0
        579       0.00      0.00      1.00      0.00      0.00      0.00         1
        628       0.00      0.00      0.83      0.00      0.00      0.00         0
        707       0.00      0.00      1.00      0.00      0.00      0.00         1
        714       0.00      0.00      1.00      0.00      0.00      0.00         1
        784       0.00      0.00      0.92      0.00      0.00      0.00         0
        910       0.00      0.00      1.00      0.00      0.00      0.00         1
        958       0.00      0.00      1.00      0.00      0.00      0.00         1
        971       0.00      0.00      1.00      0.00      0.00      0.00         1
       1069       0.50      1.00      0.91      0.67      0.95      0.92         1

avg / total       0.12      0.17      0.99      0.14      0.16      0.16        12